<footer
    class="rounded-lg shadow m-4 bg-black/20 blackdrop-blur-lg border border-white/10 w-full xl:w-[1120px] mx-auto mb-10"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm text-body sm:text-center text-white/80">josenievesrosa967@gmail.com</span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0"
        >
            <li>
                <a href="#sobremi" class="hover:underline me-4 md:me-6">Sobre mi</a>
            </li>
            <li>
                <a href="#experiencia" class="hover:underline me-4 md:me-6">Experiencia</a>
            </li>
            <li>
                <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
            </li>
        </ul>
    </div>
</footer>
